@page "/"
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@attribute [Authorize]
<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name)?.Value</h1>
        <h2>Your Designation: @context.User.Claims.FirstOrDefault(c => c.Type == "Designation")?.Value</h2>
        <h2>Your Salary: @context.User.Claims.FirstOrDefault(c => c.Type == "Salary")?.Value</h2>
    </Authorized>
</AuthorizeView>
